* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	/* background: linear-gradient(to bottom, #5d326c, #350048);  */
}
.container {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	transform-style: preserve-3d;
	transition: all 0.1s ease 0s;
    transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px;
	
	
}
.btn {
	display: block;
	font-stretch: semi-condensed;
	
    padding: 0.95rem 3.25rem;
    border: 0;
    border-radius: 4px;
    background-color: hsl(218deg 92% 57%);
    color: #fff;
    user-select: none;
    font-size: 1rem;
    
}
