.container {
  background: #36383c;
  height: 100vh;
  text-align: center;
  
}

.button-glow{
  width: 240px;
  height: 60px;
  text-decoration: none;
  display: grid;
  place-items: center;
  color: #fff;
  background: #212b3b;
  position: relative;
  top: 200px;
  left: 500px;
  z-index: 0;
  border-radius: 16px;
  font-size: 18px;
  letter-spacing: 1px;
  
}

.button-glow:hover {
  color: #ff9950;
  letter-spacing: 2px;
  font-size: 18px;
}

.button-glow:before {
  content: "";
  background: linear-gradient( #14ffe9, #ffeb3b, #ff00e0);
  position: absolute;
  background-size: 300%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  opacity: 0;
  border-radius: 16px;
  animation: rotate 1.5s linear infinite;
  transition: opacity .5s ease-in-out;       
}

.button-glow:active {
  background: #3f396f;
}

.button-glow:hover:before {
  opacity: 1;
}

.button-glow:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #212b3b;
  left: 0;
  top: 0;
  border-radius: 16px;
  
}

@keyframes rotate {
  0% {filter: hue-rotate(0deg);}
 
  100% {filter: hue-rotate(360deg);}
}